html {
    width: 100%;
    height: 100%;
}
body {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
